html, body { height: 100%; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }
body { font: 400 12pt/18pt Arial, sans-serif; -webkit-font-smoothing: antialiased; }
header { height: 40pt; color: #543729; background-color: #CECECE; padding: 9pt 20pt; }
header span { font-size: 2em; text-decoration: underline; font-weight: bold;
              text-shadow: 3px 3px 0 #C3C3C3, -1px -1px 0 #C3C3C3, 1px -1px 0 #C3C3C3, -1px 1px 0 #C3C3C3, 1px 1px 0 #C3C3C3;
              text-decoration-color: #FFCC2F; -moz-text-decoration-color: #FFCC2F; }
header span:hover { cursor: pointer; text-decoration-color: #2BAF2B; -moz-text-decoration-color: #2BAF2B; }
header nav { display: block; text-align: right; margin-top: -20pt; margin-right: -10pt; }
header nav a { padding: 0 30pt; font-size: 1.4em; color: #543729; text-decoration: underline; text-decoration-color: #FFCC2F; -moz-text-decoration-color: #FFCC2F;
               transition: padding ease .2s; -webkit-transition: padding ease .2s; -moz-transition: padding ease .2s; -o-transition: padding .2s ease; }
header nav a:hover { text-decoration-color: #2BAF2B; -moz-text-decoration-color: #2BAF2B; }
header:after { clear: both; }

.hr { background-color: #2BAF2B; max-height: 2pt; }

nav.loft { position: relative; background-image: url(./assets/0157eb99-751b-4808-a2c3-432d429e83ec.jpg);
           width: 150pt; /*opacity: .95;*/ height: calc(100% - 72pt);
           color: #CECECE; content: ""; }
/*nav.loft:after { content: ""; background: url(../img/0157eb99-751b-4808-a2c3-432d429e83ec.jpg); opacity: .25; position: absolute; z-index: -1; }*/

main { position: absolute; left: 150pt; top: 42pt; }
main article { padding: 10pt 30pt; }
main article h1 { color: #00ACEE; }
main article span { color: #EF5734; font-size: 1.17em; }
main article p { color: #2BAF2B; }

footer { background-color: #efefef; color: #543729; font-size: .8em; padding: 7pt 30pt;
         position: absolute; bottom: 0; left: 0; height: 30pt; width: 100%; }

@media screen and (max-width: 1024px) {
    header nav a { padding: 0 20pt; }
}
@media screen and (max-width: 768px) {
    header nav a { padding: 0 10pt; }
}
@media screen and (max-width: 480px) {
    header nav a { padding: 0 3pt; }
}
